@font-face {
  font-family: "Brown Sugar";
  src: url("/fonts/Brown%20Sugar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Czizh";
  src: url("/fonts/Czizh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kreadon";
  src: url("/fonts/Kreadon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baskerville WGL4 BT";
  src: url("/fonts/Baskerville%20WGL4%20BT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berenis ADF Pro";
  src: url("/fonts/Berenis%20ADF%20Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bolero script";
  src: url("/fonts/Bolero script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
